<input class="form-control mr-sm-2" type="text" placeholder="Search Movies" #title name="title" aria-label="Search" (selectItem)="onSelect($event, title)"
  [(ngModel)]="movies" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt">


<!-- <ng-template #rt let-r="result" let-t="term">
  <div class="font-weight-bold">
    {{ r.title}}
  </div>
 
</ng-template> -->

<ng-template #rt let-r="result" let-t="term">
  <a [routerLink]="[ '/movies/', r.id ]" class="text-dark">
    <!-- {{r.title}} -->
    <img [src]="r['posterUrl']" class="mr-1" style="width: 16px">
    <ngb-highlight [result]="r.title" [term]="t"></ngb-highlight>
  </a>

</ng-template>
